@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form>
        <label for="name">Inserisci Nome:</label>
            <input type="text" id="name" name="name"/>
             <label for="name">Inserisci Cognome:</label>
            <input type="text" id="surname" name="surname"/>
             <label for="name">Inserisci Indirizzo:</label>
            <input type="text" id="address" name="address" />
        <label for="name">Inserisci Codice Fiscale:</label>
            <input type="text" id="fiscalCode" name="fiscalCode"/>
        <fieldset>
    <legend>Coniugato? </legend>

        <input type="radio" value="coniugato" id="married" name="married"  />
        <label for="married">Si</label>
        <input type="radio" value="celibe" id="notMarried" name="married"/>
        <label for="notMarried">No</label>
            </fieldset>
       
        
        <label for="figli">Numero di figli a carico: </label>
        <input type="number" id="figli" name="figli">

        <label for="job"> Inserisci il tuo lavoro </label>
        <input type="text" id="job" name="job"/>
            
    </form>
</div>
